asgiref==3.4.1
backports.entry-points-selectable==1.1.0
click==7.1.2
distlib==0.3.3
Django==3.2.8
django-debug-toolbar==3.2.2
filelock==3.3.2
mysqlclient==2.0.3
Pillow==8.4.0
platformdirs==2.4.0
protobuf==3.19.1
pygame==2.0.3
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyqtdeploy==3.1.1
PySide2==5.15.2
python-dotenv==0.19.1
pytz==2021.3
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
shiboken2==5.15.2
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
virtualenv==20.9.0
